/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0050dc;
  --ifm-color-primary-dark: #0048c6	;
  --ifm-color-primary-darker: #0044bb;
  --ifm-color-primary-darkest: #00389a;
  --ifm-color-primary-light: #0058f2;
  --ifm-color-primary-lighter: #005cfd;
  --ifm-color-primary-lightest: #1f70ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3b82ff;
  --ifm-color-primary-dark: #1c6eff;
  --ifm-color-primary-darker: #0c64ff;
  --ifm-color-primary-darkest: #0050dc;
  --ifm-color-primary-light: #5a96ff;
  --ifm-color-primary-lighter: #6aa0ff;
  --ifm-color-primary-lightest: #99beff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
